/* Font */
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body {
  background-color: #f4f7f8;
  padding-top: 70px;
}

/* ナビバー */
.navbar {
  padding: 1% 10%;
  font-size: 18px;
}

.navbar-brand {
  font-family: Caveat;
}

/* ショップ画像 */
.show-shop-img {
  width: 70%;
  height: 250px;
  object-fit: cover;
}

a.shop-link {
  text-decoration: none;
}

a.shop-link:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

.card-img-wrap{
  overflow: hidden;
  background: #000;
}

.card-img-wrap img{
  transition-duration: 0.3s;
}

.show-shop-title{
	position: relative;
	overflow: hidden;
	padding-bottom: .3em;
}
.show-shop-title::before,
.show-shop-title::after{
	content: "";
	position: absolute;
	bottom: 0;
}
.show-shop-title:before{
	border-bottom: 4px solid #3d3b3b;
	width: 100%;
}
.show-shop-title:after{
	border-bottom: 4px solid #817a7a;
	width: 100%;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 30px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
.review-points {
  color: #ecb40a;
}